.icon{
    color: #FAD586;
}
.contacto{
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}  

.telefono,.mail,.ubicacion,.horario{
    padding: 5%;
}

