
*{
    padding: 0;
    
}
.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.card{
    border-radius: 1% !important;
    transition: all 0.2 ease;
}
.card:hover{
    border-color: rgb(0, 0, 0,0.3);
    box-shadow: 2px 2px rgb(0, 0, 0,0.2);
    transform: scale(1.05);
    
}


.btn{
    background-color: #96BB7C !important;
    border-color: #96BB7C !important;
}
.btn:hover{
    color: black !important;
    background-color: #FAD586 !important;
    border-color: #FAD586 !important;
}

@media screen and (min-width:768px) {
    
    .productos{
        margin: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "producto producto producto";
        grid-area: auto;
    }
    .card{
        margin: 25%!important;
        grid: producto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-color: #96BB7C;
    }
    
    .btn{
        background-color: #96BB7C;
        border-color: #96BB7C;
    }
    .btn:hover{
        color: black;
        background-color: #FAD586;
        border-color: #FAD586;
    }
}