/*Declaracion de variables*/
* {
  padding: 0%;
  margin: 0%;
  list-style-type: none;
}

/*HEADER*/
.navbar {
  background-color: white !important;
}

.navbar1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.9))), url(/Imagenes/fondo-inicio.jpg);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.9) 100%), url(/Imagenes/fondo-inicio.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position-y: center;
  color: #eff7eb;
}

.navbar1 .bienvenida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.navbar1 .bienvenida h2 {
  overflow-y: hidden;
}

/*MAIN*/
main {
  overflow-y: hidden;
}

main .mision {
  margin-top: 2%;
}

main .mision .mision-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .mision .mision-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .mision .mision-texto p {
  margin: 2% 2% 2% 2%;
  max-width: 75%;
}

main .guion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main hr {
  height: 2px;
  width: 35vh;
  background-color: #184D47;
  margin-top: 2px;
}

main .valores {
  margin-top: 5%;
  padding-bottom: 5%;
}

main .valores .valores-tiulo {
  padding-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .valores .valores-primerlinea {
  margin: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr  1fr  1fr;
      grid-template-columns: 1fr  1fr  1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: " valor   valor  valor ";
}

main .valores .valores-primerlinea .valor {
  grid: valor;
  margin: 5%;
  text-align: center;
}

main .valores h3 {
  font-size: 1em !important;
}

main .valores .valor {
  margin: 5%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

main .valores .valor img {
  height: auto;
}

main .valores .valor h3 {
  margin-top: 10%;
  overflow: hidden;
  text-align: center;
}

main .valores .valor:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main .valores .valores-segundalinea {
  margin: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-area: "valor valor";
}

main .valores .valores-segundalinea .valor {
  margin: 5%;
  grid: valor;
  text-align: center;
}

main .innovacion .innovacion-titulo {
  margin-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .innovacion .innovacion-titulo p {
  margin-top: 2%;
  max-width: 85%;
  text-align: center;
}

main .innovacion .innovacion-imagen .img img {
  display: block;
  margin: auto;
  -webkit-filter: brightness(94%);
          filter: brightness(94%);
}

/*Declaracion de variables*/
/*FOOTER*/
footer {
  padding: 5%;
  background-color: #184D47;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer p {
  text-align: center;
  color: white;
}

footer .redes i {
  color: white;
}

footer .redes i a {
  text-decoration: none;
}

footer .redes i:hover {
  color: #96BB7C;
}

footer .lista-footer ul li a {
  text-decoration: none;
  color: white;
}

footer .lista-footer ul li a:hover {
  color: #96BB7C;
}

footer .btn {
  background-color: #FAD586 !important;
  border-color: #FAD586 !important;
  color: black;
}

footer .btn:hover {
  color: black !important;
  background-color: #96BB7C !important;
  border-color: #96BB7C !important;
}

@media screen and (min-width: 768px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/*MEDIA*/
@media screen and (min-width: 768px) {
  main .valores h3 {
    font-size: calc(1.3rem + .6vw) !important;
  }
}
/*# sourceMappingURL=Styles.css.map */