@import 'variables';
@import 'footer';
*{
    padding: 0;
    margin: 0%;
    list-style-type: none;
    
}
.navbar{
    background-color: white!important;
}
.carousel{
    margin-top:25%;
}
.productos{
    margin: 2% 0% 10% 0%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .card{
        border-color: $verde;
        border-radius: 5%;
        box-shadow:  2px 5px $verde-oscuro;
        margin: 15% 0% 5% 0%;
        transition: all ease 0.2s;
        &:hover{
            transform: scale(1.1);
        }
        .btn{
            background-color: $verde;
            border-color: $verde;
            &:hover{
                background-color: $verde-oscuro;
                border-color: $verde-oscuro;
            }
        }
        
    }
}



@media screen and (min-width:768px) {
 .carousel{
     margin:0%;
 }
.productos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "producto producto producto";
        .card{
        margin: 25% 5% 10% 15% !important;
        display: grid;
        }
  
     }   
}